---
import PresentationBg from "./PresentationBG";
---

<div class={"w-dvw h-dvh flex items-center justify-center relative"}
     style="background: radial-gradient(circle, black 60%, rgba(20,16,77,1) 100%)"
>
    <div class={"w-full h-full"}>
        <PresentationBg client:only />
    </div>
</div>