---
import Layout from '../layouts/Layout.astro';
import AboutMe from "../components/presentation/AboutMe";
import AboutMeCard from "../components/presentation/AboutMeCard.astro";
---

<Layout>
	<div class="w-dvw h-dvh flex items-center justify-center relative"
		 style="background: radial-gradient(circle, black 60%, rgba(20,16,77,1) 100%)"
	>
		<!--<AboutMe client:only />-->
		<AboutMeCard />
	</div>
</Layout>
